# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Data/
/Pickles/trafficIncidentData.pkl
/Pickles/roadConditionData.pkl
/Plots/plot_2024-11-22 12-17-16_0.png
/Plots/plot_2024-11-22 12-17-16_1.png
